.parent {
    color: rgb(255, 102, 102);

    & > .child {
        color: rgb(197, 127, 255);
        &.second {
            color: rgb(127, 255, 251);
        }
        &.hoge {
            color: rgb(205, 223, 255);
        }
    }
}