@use "mixin";

$cBlack: black;

body {
  text-align: center;
}

.rect {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: $cBlack;
  @include mixin.animation($name: sk-bouncedelay);
}

@keyframes sk-bouncedelay {
  0% {
    transform: scale(0);
    background-color: rgb(186, 91, 180);
  }

  100% {
    transform: scale(1);
    background-color: rgb(72, 72, 165);
  }
}